{%  extends 'GourmetBundle::layout.html.twig' %}

{% block foot_scripts %}
    {{ parent() }}

{%  endblock foot_scripts %}

{% block titre %}AVEKAPETI - Comment ça marche {{ parent() }}{% endblock %}

{% block content %}
    <header class="header-inscription" id="header-error404">
        <div class="header-content header-content-transform">
            <div class="header-content-inner">
                <h1 class="h1-page">Comment ça marche</h1>
            </div>
        </div>
    </header>

    <section id="page404">
        <div class="container">
            <div class="row">
                <h2>Vous êtes gourmet?</h2>
                <p>Commandez votre repas</p>
                <p>Rapide et sain : commandez facilement votre repas en ligne, même à la dernière minute! Et mangez
                    équilibré , varié et fait maison.<p>

                <h3>1. Recherchez votre repas</h3>
                <p>Entrez l’adresse de votre lieu de travail.</p>
                <p>Envie d’un plat pour le jour même? Ou envie d’un repas sur-mesure pour un événement?</p>
                <p>Choisissez le plat qui vous fait envie. Si vous voulez des précisions sur un plat, vous pouvez envoyer un message au chef.
                    Consultez le profil des chefs: photo, description et avis. </p>
                <a href="confiance et transparence.html">En savoir plus sur la confiance dans la communauté.</a></p>

                <h3>2. Réservez par Carte bancaire</h3>
                <p>Vous commander votre repas avec une Carte Bancaire par paiement sécurisé et recevez un Code de
                    Réservation. Le chef est prévenu immédiatement de votre commande. Vous êtes ensuite libre de l’appeler
                    pour faciliter la remise du plat.
                    Bien sûr, si vous avez un empêchement, vous disposez de <a href="questionsfrequentes.html">conditions d'annulation</a>.</p>

                <h3>3. Dégustez</h3>
                <p>Rendez-vous au lieu de rencontre convenu, bien à l’heure (en cas de livraison il s’agit seulement de vous
                    rendre à l’entrée de votre lieu de travail). Donnez votre Code de Réservation au chef, cela lui permettra de
                    récupérer votre participation au repas par la suite. Bon appétit !
                    Après le voyage, laissez un avis au chef afin d'en recevoir un en retour, et d'augmenter votre attractivité auprès des
                    chefs : il est très important pour eux d'avoir un retour sur leur cuisine.</p>

                <p>D’autres questions? N’hésitez pas à aller voir les  <a href="questionsfrequentes.html">questions fréquentes</a>. Si vous n’avez
                    toujours pas votre réponse, envoyez nous un message à contact@avekapeti.com nous vous
                    répondrons le plus rapidement possible.</p><p>Lorsque nous sommes connectés vous pouvez aussi
                    discuter avec nous par messagerie instantanée pour une réponse immédiate : la petite fenêtre en bas
                    à droite « Questions? Discutez avec nous ».</p>
                <p>N’hésitez pas à nous solliciter, comme dirait un proverbe chinois : « Celui qui pose une question est
                    bête cinq minutes, celui qui n'en pose pas l'est toute sa vie »</p>


                <h2>Vous êtes chef ?</h2>
                <p>Proposez des parts de vos bons petits plats.</p>
                <p>Économique et convivial : partagez vos frais et/ou évitez le gaspillage alimentaire en proposant des
                    parts de vos bons petits plats, aux salariés des entreprises voisines, qui se feraient une joie d’y
                    gouter.</p>

                <h3>1.  <a href="publierplat.html">Publiez </a> votre plat</h3>
                <p>Proposez les parts en trop de vos plats cuisinés pour votre famille. Indiquez les ingrédients, décrivez votre plat,
                    les détails de la remise, mettez une photo appétissante. N'hésitez pas à nous contacter si vous avez le moindre soucis!
                    <a href="questionsfrequentes.html">Comment mettre une photo?
                        Je fais comment si je n’ai pas de photo?
                        Comment prendre une belle photo appétissante?
                        Comment se déroule la remise du plat?</a></p>
                <h3>2. Les gourmets commandent et paient en ligne</h3>
                <p>Les gourmets réservent et paient en ligne sur Avekapeti et vous êtes automatiquement prévenu(e) par email
                    à chaque nouvelle commande.Vérifiez régulièrement votre boite mail. Ensuite, vous êtes libre
                    d’échanger avec les gourmets par téléphone pour faciliter votre rencontre.
                    En cas d’annulation de dernière minute d’un gourmet, vous serez bien sur dédommagé(e) selon nos  <a href="questionsfrequentes.html">conditions
                        d'annulation </a></p>
                <h3>3. Rencontrez les gourmets</h3>
                <p>Rendez-vous au lieu de rencontre convenu, bien à l’heure. Récupérez le Code de Réservation de chaque
                    gourmet : il vous sera nécessaire pour recevoir votre paiement.</p>

                <p> N’oubliez pas de <a href="questionsfrequentes.html">mettre une photo </a> de vous sur votre profil: ainsi, les gourmets vous reconnaîtront plus facilement au
                    point de rendez-vous.<p>
                <h3>4. Recevez votre argent</h3>
                <p>Entrez sur Avekapeti le(s) Code(s) de Réservation reçu(s), demandez votre virement et voilà : vous allez
                    rapidement recevoir votre argent par virement bancaire !</p>
                <p><a href="questionsfrequentes.html">Où renseigner le code de réservation?</a></p>
                <p>D’autres questions? N’hésitez pas à aller voir les <a href="questionsfrequentes.html">questions fréquentes</a> . Si vous n’avez
                    toujours pas votre réponse, envoyez nous un message à contact@avekapeti.com nous vous
                    répondrons le plus rapidement possible. Lorsque nous sommes connectés vous pouvez aussi
                    discuter avec nous par messagerie instantanée pour une réponse immédiate : la petite fenêtre en bas
                    à droite « Questions? Discutez avec nous »</p> Vous pouvez également <a href="besoin d'aidre?.html">demander à ce qu'on vous rappelle </a>
                <p>N’hésitez pas à nous solliciter, comme dirait un proverbe chinois : « Celui qui pose une question est
                    bête cinq minutes, celui qui n'en pose pas l'est toute sa vie »</p>
            </div>
        </div>
    </section>

{% endblock content %}
