{%  extends 'GourmetBundle::layout.html.twig' %}

{% block foot_scripts %}
    {{ parent() }}

{%  endblock foot_scripts %}

{% block titre %}CGU {{ parent() }}{% endblock %}

{% block content %}
    <header class="header-inscription" id="header-error404">
        <div class="header-content header-content-transform">
            <div class="header-content-inner">
                <h1 class="h1-page">CGU & Mentions légales</h1>
            </div>
        </div>
    </header>

    <section id="page404">
        <div class="container">
            <div class="row">
                <h2>1 / MENTIONS LEGALES </h2>
                <p>Le Site avekapeti.com est édité par : Fatima Belkebir Mrani </p>
                <p>fati.mrani@avekapeti.com</p>
                <p>Adresse de l’établissement:
                    10 rue de Penthiévre 75008 Paris</p>
                <p>Numéro d’immatriculation au RCS Paris: 811 572 528</p>
                <p>Directrice de la publication : Fatima Belkebir Mrani </p>
                <p>Hébergeur du site: OVH</p>
                <p>SAS au capital de 10 059 500 €</p>
                <p>RCS Lille Métropole 424 761 419 00045</p>
                <p>Siège social : 2 rue Kellermann - 59100 Roubaix - France.</p>
                <p>Téléphone: 1007 (gratuit depuis un poste fixe, hors surcoût éventuel selon opérateur depuis une ligne mobile)</p>
                <p>Numéro de déclaration CNIL: 18 77 421 </p>

                <h2>2 / OBJET DES CGU</h2>
                <p>Les présentes Conditions Générales d'Utilisation ont pour objet de définir les modalités de mise à disposition du Site www.avekapeti.com et des Services qui y sont proposés.
                    L’inscription comme Membre équivaut à une acceptation des présentes CGU.
                    L’acceptation des présentes CGU entraîne également et obligatoirement l’acceptation des CGU du prestataire de paiement en ligne LEMON
                    WAY accessibles <a href="https://www.lemonway.fr/legal/conditions-generales-d-utilisation/">ici </a> et des Chartes d’hygiène (consultables sur le Site).</p>

                <h2>3 / DEFINITIONS</h2>
                <p>Site : Le « Site » désigne le Site Internet www.avekapeti.com</p>
                Service : le terme « Service » désigne les services proposés sur le Site.
                <p>AVEKAPETI : « AVEKAPETI » désigne l'éditeur du Site.</p>
                <p>Utilisateur : L'Utilisateur est toute personne qui utilise le Site ou l'un des Services proposés sur le Site.</p>
                <p>Gourmet : Le terme « gourmet » désigne un Utilisateur ayant ouvert un compte sur le Site. Tout utilisateur ouvrant un compte sur le site est par défaut gourmet.</p>
                <p>Chef : Le terme « Chef » désigne un Gourmet ayant ouvert un compte «Chef». Il est ainsi considéré comme à la fois gourmet et chef. </p>
                <p>Membre: Le terme « Membre » désigne un utilisateur ayant ouvert un compte sur le site, comprenant à la fois les gourmets et les
                    chefs</p>
                <p>Contenu du Site : le « Contenu du site » désigne l'ensemble du contenu du site ( texte, logos, images et autres signes distinctifs, son, vidéo, architecture, design)</p>
                <p>Contenu Utilisateur : Le terme « Contenu Utilisateur » désigne les données transmises par l'Utilisateur dans les différentes rubriques du Site. </p>

                <h2>4 / ACCES AU SITE ET AUX SERVICES FOURNIS</h2>

                <h3>Présentation :</h3
                <p>AVEKAPETI N’EST NI UNE ENTREPRISE DE RESTAURATION NI UN REVENDEUR DE DENRÉES ALIMENTAIRES. AVEKAPETI AGIT
                    EN QUALITÉ DE COURTIER.</p>
                <p>AVEKAPETI en tant que courtier, offre un Service payant de mise en relation entre Gourmets cherchant à se restaurer et Chefs proposant des plats contre rémunération (plats réalisés sur-commande) ou participation aux frais (plats déjà préparés)
                    Le service est payant dans le sens où AVEKAPETI touche une commission d’intermédiation. </p>
                <p>Les plats peuvent être déjà préparés ou préparés sur commande. Le Gourmet peut prendre rendez-vous avec le Chef pour récupérer le plat (option « retrait chez le Chef ») ou se faire livrer par ce dernier (option « livraison ») . </p>
                <p>Les Chefs sont considérés comme « amateurs » lorsque ce sont des personnes privées qui exercent cette activité de façon occasionnelle (par exemple pour réduire le gaspillage alimentaire, alléger les charges quotidiennes en proposant des parts supplémentaires, demander une contribution aux frais fixes occasionnés par la préparation d’un plat ou encore se tester avant de devenir professionnels).</p>
                <p>Les Chefs sont inscrits et libellés sur le site comme « professionnels » lorsqu’ils exercent cette activité à titre habituel et commercial et sont inscrits au répertoire du commerce et des sociétés ou à la chambre des métiers. </p>
                <p>Les transactions se font via l’application de notre partenaire LEMON WAY. L’inscription comme Membre entraîne automatiquement l’ouverture d’un porte monnaie virtuel géré par LEMON WAY.</p>

                <h3>Notification et retrait de Contenu:<h3>
                <p>Il n'y a pas de modération a priori des Contenus fournis par les Utilisateurs (notamment le Contenu du forum et les commentaires sur le blog à l’adresse www.avekapeti.fr, les évaluations sur le Site www.avekapeti.com, les messages privés, les descriptions des plats, du profil, les photos et recettes postées). Si un Utilisateur estime qu’un Contenu est illicite ou porte atteinte à ses droits il doit en informer AVEKAPETI par mail à l’adresse suivante: contact@avekapeti.com . AVEKAPETI s'engage à retirer dans les plus brefs délais le Contenu concerné.
                    AVEKAPETI se réserve en outre le droit de supprimer sans préavis tout Contenu estimé, entre autre, illicite, grossier ou injurieux, inintelligible ou inapproprié, ou contenant des données à caractère personnel.</p>

                <h3>Suppression de compte: </h3>
                <p>En cas de non-respect des présentes CGU, AVEKAPETI se réserve le droit de supprimer le compte d’un Membre sans qu’il ne puisse réclamer une indemnité. En outre, AVEKAPETI se réserve le droit de réclamer des indemnités destinées à compenser tout préjudice subi.</p>
                <p>AVEKAPETI pourra également supprimer les comptes des Membres ayant reçu plus de 60% d’évaluations négatives sur le total des évaluations reçues.
                    Un avis négatif de chef est constitué d'une note en dessous de 10/20 donnée par le gourmet.</p>

                <h2>5 / FIXATION DES PRIX ET CONDITIONS TARIFAIRES:</h2>
                <h3>Fixation du prix:</h3>
                <p>Tous les prix sont indiqués en euros.</p>
                <p>Le prix du plat (part individuelle ou plat entier) est fixé par le Chef lui-même, de manière libre, dans le cadre d’un partage de frais dans la limite d’un montant maximum conseillé par AVEKAPETI :</p>
                <p>Prix maximum conseillé/part: Pour une entrée : 2€</p>
                <p>Pour un plat principal : 7€ Pour un dessert : 2€</p>
                <p>Ces prix représentent seulement une limite à ne jamais dépasser, AVEKAPETI ne pouvant pas connaitre les charges spécifiques à chaque chef ; et le nombre de parts proposées par plat préparé étant librement décidé par les chefs.</p>
                <p>Les tarifs indiqués sur la description des plats correspondent à la somme finale qui englobe les frais d’AVEKAPETI et LEMON WAY.</p>
                <p>Les frais du Service de mise en relation par AVEKAPETI ainsi que les frais du Service de paiement par LEMON WAY s’élèvent au total à 12% de la
                    somme payée par le Gourmet.</p>

                <h3>Paiement du prix :</h3>
                <p>Le prélèvement s’effectue immédiatement lors d’une commande réalisée par le gourmet.</p>
                <p>Lors de la première transaction, le Gourmet paie en ligne par carte bancaire : il renseigne ses informations bancaires et une vérification 3D secure est effectuée via un code envoyé par sms.</p>
                <p>Au moment du paiement si le gourmet coche la case « J’aimerais que ma carte bancaire soit reliée à mon compte AVEKAPETI » les données de la carte sont enregistrées auprès du prestataire Atos et les transactions suivantes seront effectuées sans avoir à renseigner les informations bancaires.</p>
                <p>Lors du paiement, la somme est versée sur un compte de cantonnement LEMON WAY: le porte monnaie virtuel du gourmet.</p>
                <p>AVEKAPETI prélève immédiatement ses frais et ceux de LEMON WAY directement sur ce compte.
                    AVEKAPETI envoie au Gourmet un code à communiquer au cuisinier lorsqu’il récupère le plat.</p>
                <p>La somme est conservée en cantonnement jusqu'à ce que le Chef renseigne en ligne le code qui lui a été transmis par le Gourmet : il valide ainsi que le plat a bien été remis et à ce moment l'ordre est envoyé à LEMON WAY de virer la somme cantonnée vers le porte monnaie virtuel du Chef.</p>
                <p>Un virement automatique transfère chaque jour l'argent du porte monnaie virtuel des Chefs vers leur compte bancaire, à condition qu’ils aient renseignés des coordonnées bancaires valides et appartenant à une banque en France.</p>
                <p>Pour tout paiement par carte bancaire, « LEMON WAY » sera indiqué sur le relevé de carte bancaire de l’utilisateur ayant utilisé le paiement par carte bancaire au travers de l’API de paiement Lemon Way à la disposition d’AVEKAPETI.</p>

                <h2>6 / ANNULATION ET REMBOURSEMENT :</h2>
                <p>Lorsqu’il y a annulation d’une commande finalisée, c’est-à-dire payée par le Gourmet, les dispositions suivantes sont appliquées :</p>
                <p>En cas d’annulation imputable au Chef (suppression du plat sur le Site ou non remise du plat au Gourmet imputable au Chef) : le Gourmet est remboursé intégralement de ce qu’il a versé pour la commande annulée. Le chef se verra prélevé sur son porte-monnaie virtuel des frais d’annulation : 0.8% du montant de la commande + 20cts.</p>
                <p>En cas d’annulation imputable au Gourmet (annulation de la commande sur le Site ou non remise du plat au Gourmet imputable au Gourmet) : </p>
                <p>Si l'annulation a lieu plus de 30 minutes avant l'heure du début de la livraison/retrait chez le Chef prévue par le Chef, le Gourmet est remboursé intégralement de ce qu’il a versé pour la commande annulée. </p>
                <p>Si l'annulation a lieu moins de 30 minutes avant l'heure du début de la livraison/retrait chez le Chef prévue par le Chef, le Chef est remboursé du montant de la transaction diminué des frais de service (12%) </p>


                <h2>7 / PROPRIETE INTELLECTUELLE</h2>
                <p>Tous les Contenus du Site (texte, logos, images et autres signes distinctifs) sont protégés par le droit de la propriété intellectuelle et appartiennent à AVEKAPETI, à ses partenaires ou à des tiers ayant consenti les cessions et autorisations nécessaires. </p>
                <p>L’Utilisateur ne peut pas utiliser ou reproduire le Contenu sans l’autorisation expresse du titulaire des droits. La violation de cette condition peut être constitutive de contrefaçon et entraîner des sanctions civiles et pénales.</p>
                <p>L’Utilisateur cède à AVEKAPETI la totalité des droits de représentation et de reproduction attachés aux œuvres (photos, textes, descriptions, avis, recettes) mis en ligne par l’Utilisateur pour les supports suivants: supports papier et internet (notamment sur les sites Avekapeti et réseaux sociaux). </p>
                <p>Cette cession non exclusive est faite à titre gratuit pour une exploitation commerciale. Elle est effective pour le monde entier, à compter de la mise en ligne de l’œuvre par l’Utilisateur et ce pour toute la durée des droits d’auteur.</p>
                <p>AVEKAPETI se réserve la possibilité d’utiliser le Contenu Utilisateur (notamment les photos et descriptions des plats ainsi que les avis) afin de l’incorporer à d’autres documents à visée publicitaire ou explicative sur le Site lui-même ou sur d’autres plateformes (notamment les réseaux sociaux).</p>

                <h2>8 / DONNEES PERSONNELLES</h2>
                <p>Conformément aux dispositions de la loi n°78-17 du 6 janvier 1978 modifiée par la loi n2004-801 du 6 août 2004 relative à l'informatique, aux fichiers et aux libertés, AVEKAPETI a procédé auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL) à la déclaration préalable du traitement qu'elle opère sur les données personnelles vous concernant, conformément à la norme simplifiée n°48 (délibération CNIL n°2005-112 du 7 juin 2005 portant création d'une norme simplifiée concernant les traitements automatisés de données à caractère personnel relatifs à la gestion des fichiers de clients et de prospects – JO n°149 du 28 juin 2005). La déclaration à la CNIL a été réalisée sous le numéro 18 77 421.</p>
                <p>Le responsable du traitement des données vous concernant est AVEKAPETI. Conformément aux dispositions de la norme simplifiée n°48, ont seuls accès à vos données personnelles les salariés et prestataires de service d’AVEKAPETI, dont la tâche consiste à faire fonctionner le site ou à rendre le service.</p>
                <p>Les données indiquées comme obligatoires dans le formulaire permettant de devenir utilisateur du site et du service nécessitent une réponse exacte de votre part. Tout défaut de réponse ou toute réponse jugée anormale par AVEKAPETI est susceptible d'entrainer le refus d’AVEKAPETI de prendre en compte votre demande d'inscription au service.</p>
                <p>Les données collectées par AVEKAPETI dans le cadre des services rendus sur le Site sont traitées conformément aux dispositions de la norme simplifiée n°48 et de la loi « Informatique et Libertés » du 6 août 2004.</p>

                <h3>Transmission de vos données personnelles à des tiers:</h3>
                <p>Conformément aux dispositions de la norme simplifiée n°48, AVEKAPETI se réserve le droit de transmettre tout ou partie des données personnelles concernant les Membres dans le strict respect de la norme simplifiée n°48 et de la loi « Informatique et Libertés » du 6 Août 2004.</p>
                <p>Tout usage de données personnelles autre que celui indiqué ci-dessus devra faire l'objet d'un consentement individuel, préalable et explicite de la part des Membres.</p>
                <p>Conformément à la loi n°78-17 du 6 janvier 1978, AVEKAPETI recueillera l'accord des Membres pour toute transmission de ses données à des partenaires commerciaux pour des opérations de marketing direct au moyen d'une case à cocher.</p>

                <h3>Droit d'accès, de rectification et d’opposition :</h3>
                <p>Conformément à la loi n°78-17 du 6 janvier 1978, vous disposez d'un droit d'accès et de rectification sur les données personnelles vous concernant, en vous adressant au webmaster du Site à cette adresse: contact@avekapeti.com; sauf pour les données personnelles que vous avez données à AVEKAPETI lorsque vous avez rempli votre formulaire d'adhésion en ligne et qu'il vous appartient seul de modifier et de mettre à jour.</p>
                <p>Conformément à la loi n°78-17 du 6 janvier 1978, vous disposez du droit de vous opposer sans frais et gratuitement, à ce que les données personnelles vous concernant soient utilisées à des fins de prospection, notamment commerciale, par AVEKAPETI ou par ses partenaires
                    commerciaux. </p>
                <p>Si votre droit d'opposition est exercé pour ce motif directement auprès d’AVEKAPETI, cette dernière s'engage à répercuter votre opposition auprès de ses partenaires contractuels auxquels elle aurait éventuellement transmis vos données personnelles.</p>
                <p>Conformément à la loi n°78-17 du 6 janvier 1978, AVEKAPETI s'engage à ce que les données personnelles vous concernant, même celles transmises à d'éventuels partenaires commerciaux, ne soient pas transmises hors de l'Union Européenne, sauf à recueillir au préalable votre consentement exprès en ce sens.</p>
                <p>Conformément à la loi n°78-17 du 6 janvier 1978, AVEKAPETI se réserve le droit de transmettre les données personnelles vous concernant, soit pour respecter une obligation légale, soit en application d'une décision judiciaire, administrative, ou d'une autorité administrative indépendante (comme par exemple la Commission Nationale de l'Informatique et des Libertés).</p>
                <p>Vous vous engagez à assurer, en tant que de besoin, la mise à jour des données personnelles vous concernant. Vous vous engagez en outre à ce que les données personnelles vous concernant soient exactes, complètes et non équivoques. </p>
                <p>Vous pouvez à tout moment accéder, en utilisant sur le site votre mot de passe et votre login, à votre Compte Utilisateur contenant l'ensemble des données personnelles que vous avez fournies à AVEKAPETI.</p>
                <p>Conformément à la loi n°78-17 du 6 janvier 1978, AVEKAPETI s'engage à prendre toute précaution utile, au regard de la nature des données et des risques présentés par le traitement, pour préserver la sécurité des données personnelles vous concernant et, notamment, empêcher que vos données personnelles ne soient déformées, endommagées, ou que des tiers non autorisés y aient accès.</p>
                <p>Dans le stricte cadre de l’utilisation du Service, lorsqu’une commande a été confirmée, les Membres autorisent AVEKAPETI à communiquer leur numéro de téléphone et/ou adresse au Membre concerné afin qu’ils conviennent entre eux des modalités de réception du plat.</p>
                <p>Les abonnés à la newsletter peuvent se désabonner en cliquant sur le lien mis à disposition en fin de lettre.</p>
                <p>L’Utilisateur reconnaît que toute donnée à caractère personnel publiée sur le Site par les Utilisateurs eux-mêmes (par exemple en commentaire, en avis ou sur le forum) peut être facilement collectée et utilisée par des tiers. L’Utilisateur reconnaît ainsi qu’AVEKAPETI ne peut être tenu pour responsable des conséquences d’une telle diffusion.</p>

                <h3>Cookies</h3>
                L’Utilisateur reconnaît et accepte qu’AVEKAPETI et ses partenaires puissent stocker des informations sur l'ordinateur ou l’appareil de l'Utilisateur sous la forme de "Cookies". Le rôle des cookies peut être, notamment, d'identifier plus rapidement l'Utilisateur lors de sa connexion et de faciliter son accès à certains Services.
                AVEKAPETI ne peut garantir le fonctionnement optimal du Site si l'Utilisateur refuse la réception de cookies.
                Pour en savoir plus sur les cookies utilisés par AVEKAPETI et modifier les paramètres relatifs à ses cookies, l’Utilisateur est invité à consulter la politique de cookies du Site. </p>

                <h2>9 / RESPONSABILITE</h2>
                <h3>Responsabilité générale des Membres :</h3>
                <p>Chaque Membre certifie être une personne physique majeure capable résidant en France ou une personne morale immatriculée en France, et garantit AVEKAPETI contre toute responsabilité pouvant résulter pour elle d’une fausse déclaration.</p>
                <p>Les Membres s’engagent à fournir des informations exactes et à les mettre à jour tant lors de l’inscription que lors de l’utilisation du Service.</p>
                <p>Les Membres reconnaissent et acceptent que l’acceptation des présentes CGU entraine également l’acceptation des CGU du prestataire de paiement
                    en ligne LEMON WAY consultables <a href="https://www.lemonway.fr/legal/conditions-generales-d-utilisation/">ici </a>et des Chartes de bonne conduite (consultables sur le Site).</p>
                <p>Les Membres se connectent grâce à un identifiant et un mot de passe choisis lors de l’inscription et modifiables sur leur compte dans la rubrique « modifier mon profil ». Ces identifiants sont personnels et confidentiels et les Membres s’engagent à ne pas les divulguer. En cas de perte ou de vol non imputable à AVEKAPETI le Membre est responsable de toute conséquence dommageable et doit les modifier dans les plus brefs délais.</p>
                <p>Les Membres reconnaissent que toute donnée à caractère personnel publiée sur le Site par eux-mêmes (par exemple en commentaire, en avis ou sur le forum) peut être facilement collectée et utilisée par des tiers. Ils reconnaissent ainsi qu’AVEKAPETI ne peut être tenu pour responsable des conséquences d’une telle diffusion.</p>
                <p>Ils s’engagent à ne publier sur le Site que des Contenus dont ils possèdent tous les droits (notamment droit à l’image et droit de propriété intellectuelle).</p>
                <p>Ils s’engagent à laisser des commentaires fidèles à leur expérience, à être aimables et courtois lors de la rencontre avec l’autre partie et à ne pas donner leurs coordonnées par message privé ou sur leur profil.</p>
                <p>Ils autorisent AVEKAPETI à fournir leur numéro de téléphone et adresse de réception du plat au Membre concerné une fois la commande confirmée afin que les Membres conviennent entre eux des modalités de réception du plat.</p>
                <p>Ils s’engagent à mettre à jour leurs coordonnées (par exemple en cas de livraison le Gourmet doit avoir renseigné la bonne adresse, en cas de retrait chez le Chef le Chef doit avoir renseigné la bonne adresse).</p>
                <p>Un même Membre peut posséder un compte Gourmet et un compte Chef. Le Membre reconnaît qu’il s’agit de deux comptes distincts qui entraînent des responsabilités distinctes.</p>
                <p>Lors de l’inscription, le membre est par défaut considéré comme gourmet. Si il veut proposer des plats, il doit créer un compte chef .</p>

                <h3>Responsabilité particulière des Chefs</h3>
                <p>Les Chefs s’engagent à respecter la charte de bonne conduite des Chef (disponible sur le Site).</p>
                <p>Les Chefs sont seuls responsables de la déclaration fiscale des revenus tirés de leur activité via le Site. </p>
                <p>Ils s’engagent à respecter les horaires convenus avec le Gourmet. A moins qu’ils n’en aient convenu autrement, un Chef n’est pas tenu de remettre le plat si le Gourmet n’est pas venu le chercher à temps.</p>
                <p>Ils s’engagent à ne pas communiquer les données à caractère personnel que les Gourmets leur transmettent.</p>
                <p>Les Chefs s’engagent à publier sur la description du plat de manière fidèle et exhaustive tous les ingrédients qu’il contient et à indiquer la bonne catégorie à laquelle appartient leur plat (végétarien, sans porc...). Ils sont responsables s’ils ont oublié un ingrédient ou n’ont pas publié le plat dans la bonne catégorie (notamment en ce qui concerne les allergies, intolérances alimentaires ou préférences alimentaires ).</p>
                <p>Les Chefs s’engagent à ne proposer que des boissons non-alcoolisées.</p>
                <p>Les Chefs reconnaissent et acceptent que les menus doivent être renseignés sur le Site le jour-même à 8h au plus tard si ils veulent apparaître
                    sur les menus du jour envoyés par newsletter aux Gourmets chaque matin.</p>
                <p>Les Chefs s’engagent à vérifier qu’il soit écrit sur les emballages utilisés qu’ils peuvent être réchauffés au micro-onde.</p>
                <p>En cas de retrait chez un Chef, ce dernier s’engage à laisser le Gourmet s’assurer des conditions de préparation du plat en le laissant accéder à la cuisine, tout en respectant les contraintes d’hygiènes nécessaires.</p>
                <p>Les Chefs amateurs s’engagent à garder marginale leur activité, la restauration exercée de manière principale est soumise à des régulations particulières et est réservée aux professionnels.</p>
                <p>Les Chefs amateurs s’engagent à posséder une assurance civile qui couvre les conséquences pécuniaires de dommages qu’ils peuvent causer (notamment en cas d’intoxication alimentaire) et à vérifier sa validité.</p>
                <p>Les chefs et les gourmets sont informés du fait que les assurances peuvent refuser de couvrir les dommages pouvant survenir suite à une commande pour laquelle le chef aurait réalisé un bénéfice ou aurait été dans une situation assimilée à une activité professionnelle. </p>
                <p>Le chef supporterait seul les conséquences financières résultant de l'absence de prise en charge d’une éventuelle intoxication alimentaire par son assurance, sans que la responsabilité d’AVEKAPETI ne puisse être engagée.</p>
                <p>Les Chefs professionnels doivent renseigner leur numéro de siret lors de l’inscription et il sera signalé au Gourmet que le Chef est un professionnel.</p>
                <p>Les Chefs professionnels attestent avoir effectué toutes les démarches nécessaires dans le cadre d’une activité de restauration à titre professionnel et s’engagent à être en conformité avec la règlementation en vigueur concernant leur activité.</p>
                <p>Ceci implique notamment, et sans que cette liste soit exhaustive :</p>
                <p>- De s’immatriculer et de se déclarer à la chambre des métiers ou des commerces selon l’activité exacte.</p>
                <p>- D’avoir déclaré l’activité « à emporter» à la DDPP de votre département.</p>
                <p>- D’avoir réalisé un stage d’hygiène</p>
                <p>- D’avoir souscrit à une police d’assurance responsabilité civile professionnelle spécifique</p>
                <p>- Si le Chef cuisine à domicile, de s’être assuré que son bail permette l’exercice d’une activité commerciale à domicile et avoir effectué les démarches nécessaires. Avoir contacté la DSV (Service vétérinaire de leur département) pour leur soumettre les plans de sa cuisine et avoir procédé à des aménagements si nécessaire afin de respecter les règles HACCP.</p>
                <p>- D’utiliser du matériel professionnel (containers isothermes alimentaires...).</p>
                <p>- D’exercer leur activité dans une cuisine aux normes.</p>
                <p>- De proposer un moyen de livraison qui garantit le respect de la chaine du froid et des conditions d’hygiène.</p>
                <p>Les Chefs garantissent la livraison d’un plat préparé selon les règles d’hygiène de l’art culinaire mais ils ne peut en aucun cas être responsables par la suite d’une quelconque intoxication alimentation qui serait due à un plat consommé quelques heures plus tard par le Gourmet ou mélangé avec d’autres ingrédients alimentaires.</p>
                <p>Les responsabilités des Chefs englobent celles des Gourmets, les chefs étant également des Gourmets, le compte crée étant par défaut un compte Gourmet.</p>

                <h3>Responsabilité particulière des Gourmets </h3>
                <p>Les Gourmets s’engagent à respecter la charte d'hygiène des Gourmets (disponible sur le Site). </p>
                <p>Ils attestent être conscients que les particuliers et professionnels ne sont pas soumis à la même règlementation, notamment en matière d’hygiène.</p>
                <p>Ils reconnaissent les conditions de réalisation de la prestation, les acceptent et les approuvent sans réserve et dans leur intégralité.</p>
                <p>Ils s’engagent à envoyer un message aux Chefs avant de commander s’ils ont le moindre doute sur un des ingrédients, ils sont responsables s’ils commandent un plat contenant un ingrédient susceptible de provoquer une allergie ou intolérance chez eux ou d’être contraire à leurs principes religieux et qu’ils n’ont pas effectué les vérifications nécessaires auprès du Chef.</p>
                <p>Ils s’engagent à respecter les horaires convenus avec le Chef. A moins qu’ils n’en aient convenu autrement, un Chef n’est pas tenu de remettre le plat si le Gourmet n’est pas venu le chercher à temps.</p>
                <p>Les Gourmets s’engagent à respecter les conditions de réchauffement inscrites sur les barquettes, et de manière générale les règles de conservation et de transport des plats décrites dans la charte d'hygiène.</p>

                <h3>Responsabilité d'AVEKAPETI</h3>
                <p>AVEKAPETI propose un simple Service de mise en relation et ne peut pas être tenu pour responsable par les Utilisateurs ou des tiers des conséquences de l’activité des Utilisateurs.</p>
                <p>AVEKAPETI ne peut être tenu responsable du comportement répréhensible des Utilisateurs du Service ou de tout préjudice qu’ils pourraient causer : notamment en cas d’intoxications alimentaires, travail non déclaré, activité régulière en tant que particulier, accidents lors de la préparation ou livraison d’un plat ...</p>
                <p>AVEKAPETI reste extérieur à tout litige survenant entre Utilisateurs à moins qu’ils ne réclament la médiation d’AVEKAPETI pour régler leur différend à l’amiable.</p>
                <p>AVEKAPETI ne peut être tenu pour responsable des informations incomplètes ou inexactes fournies par les Utilisateurs. Les Utilisateurs reconnaissent que les photos postées sur le Site ne sont pas contractuelles.</p>
                <p>De même, AVEKAPETI sert seulement d’intermédiaire lors du paiement, les fonds ne transitent pas sur les comptes d’AVEKAPETI et sont entièrement gérés par le prestataire LEMON WAY.</p>
                <p>AVEKAPETI n’est pas responsable du Contenu diffusé par les Utilisateurs sur le Site (par exemple sur le forum, commentaires sur le blog, évaluations sur le Site, messages privés, descriptions des plats, du profil) et s’engage à retirer tout Contenu lui ayant été signalé comme portant atteinte à des droits dans les conditions évoquées à l’article « notification et retrait de Contenu ».</p>
                <p>Le Site propose des liens hypertextes vers des sites web édités et/ou gérés par des tiers.</p>
                <p>Dans la mesure où aucun contrôle n'est exercé sur ces ressources externes, l'Utilisateur reconnaît qu’AVEKAPETI n'assume aucune responsabilité relative à la mise à disposition de ces ressources, et ne peut être tenu responsable quant à leur Contenu.</p>
                <p>La responsabilité d’AVEKAPETI ne pourra être engagée en cas de force majeure ou de faits indépendants de sa volonté.</p>
                <p>AVEKAPETI ne pourra par exemple être tenu responsable d’un éventuel dysfonctionnement, d’une panne du réseau internet ou du piratage de sa plate- forme.</p>
                <p>AVEKAPETI se réserve le droit de suspendre ou d’arrêter la publication du site qu’il exploite, sans obligatoirement en tenir informé ses membres ni à leur verser une quelconque indemnité.</p>

                <h2>10 / MODIFICATION DES CGU</h2>
                <p>AVEKAPETI se réserve le droit de modifier à tout moment les CGU, les fonctionnalités offertes sur le site ou les règles de fonctionnement du Service. La modification prendra effet immédiatement dès la mise en ligne des CGU que tout utilisateur reconnait avoir préalablement consultées. Les membres seront informés par email de l'évolution des CGU et de leur date de mise en place. Lorsque la modification survient après paiement par le gourmet, la modification ne s'applique pas à la transaction en cours. AVEKAPETI se réserve notamment le droit de proposer des services nouveaux, gratuits ou payants sur le Site.</p>

                <h2>11 / LITIGES, DROIT APPLICABLE ET JURIDICTION COMPETENTE</h2>
                <p>En cas de différend entre Membres, AVEKAPETI propose aux Membres de les accompagner dans la résolution du litige à l’amiable En cas de nullité ou d’inapplicabilité d’une des dispositions des CGU, le reste des dispositions conservent leur effet.
                    Les présentes CGU sont soumises au droit français. En cas de traduction, seule la version française fait foi. Tout différend relatif à l’interprétation ou l’exécution des présentes CGU relève des tribunaux compétents de la ville de Paris.</p>
            </div>
        </div>
    </section>

{% endblock content %}
