{%  extends 'GourmetBundle::layout.html.twig' %}

{% block foot_scripts %}
    {{ parent() }}

{%  endblock foot_scripts %}

{% block titre %}Chartes d'hygiéne des chefs {{ parent() }}{% endblock %}

{% block content %}
    <header class="header-inscription" id="header-error404">
        <div class="header-content header-content-transform">
            <div class="header-content-inner">
                <h1 class="h1-page">Chartes d'hygiéne des chefs</h1>
            </div>
        </div>
    </header>

    <section id="page404">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-md-5">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="http://alimentation.gouv.fr/cuisiner-maison"></iframe>
                        </div>
                    </div>
                </div>
                <br>
                <p>Source: http://alimentation.gouv.fr/cuisiner-maison</p>
                <div class="row">
                    <h1>Vos obligations:</h1>
                    <h2>En faisant vos achats :</h2>
                    ￼<p>Pour respecter la chaîne du froid ... faire plutôt les courses en suivant cet ordre : épicerie / fruits et légumes / frais / surgelés.</p>
                    <p>Mais vous vous engagez à ne pas utiliser de produits surgelés pour la préparation
                        de vos plats maison, seulement des produits frais.</p>
                    <p>Penser à bien vérifier la date de péremption des aliments :</p>
                    <p>Date Limite de Consommation (DLC) (« à consommer jusqu’au ») pour les produits frais (viandes, desserts lactés...) : date impérative jusqu’à laquelle la denrée peut être consommée sans présenter de risque pour le consommateur. Elle peut être fixée par la réglementation ou, le plus souvent, sous la responsabilité des fabricants.</p>
                    <p>Date Limite d’Utilisation Optimale (DLUO) (« à consommer de préférence avant ») pour les produits stables comme l’épicerie (épicerie, conserves, boissons...) : au-delà de cette date, la denrée ne présente pas de risque pour le consommateur et peut être consommée si le conditionnement est resté en parfait état,mais elle peut perdre petit à petit ses qualités gustatives.</p>
                    <p>Vérifier l’état du conditionnement des aliments.</p>
                    <p>Les conserves doivent être non bombées, non déformées et ne pas présenter de rouille ni de fuite, les emballages des produits sous-vide doivent être non perforés.</p>

                    <h2>En rangeant vos courses :</h2>
                    <p>Pour respecter la chaîne du froid, ranger les produits en suivant cet ordre : surgelés / frais / fruits et légumes / épicerie.</p>
                    <p>Lire l’étiquetage des produits pour connaître les conditions de conservation, et les respecter scrupuleusement pour les produits devant être conservés au froid.</p>
                    <p>Vérifier à l’aide d’un petit thermomètre que la température du réfrigérateur est comprise entre 0 et +5°C. Pour vérifier la température, l'idéal est d'avoir un thermomètre dédié au réfrigérateur. </p>
                    <p>Selon les modèles, on peut l'accrocher, le coller, et le placer près de la porte. Concrètement, il va permettre de vérifier le bon réglage du thermostat. Une astuce consiste également à plonger le thermomètre dans un verre d'eau situé dans la zone la plus froide du réfrigérateur, localisable en relevant la température à plusieurs endroits.</p>
                    <p> L'endroit le plus froid est généralement l'étage d'en bas. La température peut y atteindre 0°C (mais pas moins) et correspond à l'emplacement idéal des viandes et poissons crus, desserts lactés, fromages et produits frais.</p>
                    <p>Dans la zone la moins froide où la température idéale peut atteindre 5°C, généralement l'étage supérieur, on stockera les viandes et poissons cuits, légumes et fruits cuits, yaourts et fromages faits. Dans le bac à légumes, on retrouve les fruits et légumes frais, les fromages en cours d'affinage. Et enfin dans la porte, on placera boissons, lait, œuf, beurre, tubes et bocaux.</p>
                    <p>La température du congélateur quant à elle doit être comprise entre -15°C et - 18°C.</p>
                    <p>Noter sur un petit cahier à chaque fois que vous faites un relevé de température (du réfrigérateur et du congélateur). Vous pourrez ainsi facilement prouver votre bonne foie.</p>

                    <h2>En préparant vos repas :</h2>
                    <p>Porter un tablier propre et se laver les mains aussi souvent que nécessaire (après avoir touché un aliment cru, après être allé aux toilettes, après s’être mouché ou avoir éternué, après avoir touché un animal, après avoir manipulé la poubelle, après avoir ramassé quelque chose à terre, à chaque changement d’aliment...) avec du savon désinfectant. Ou pour être sur il est préférable d’utiliser des gants jetables.</p>
                    <p>Retirer les bijoux des mains, dégager ses avant-bras en remontant ses manches, éviter le vernis à ongles.</p>
                    <p>Couvrir les produits sensibles (film plastique).</p>
                    <p>Séparer la viande des autres aliments. Aussi bien dans le réfrigérateur que sur le plan de travail quand vous préparez un repas, il faut bien penser à séparer la viande, la volaille ou le poisson cru des autres aliments. La peau de la volaille crue, par exemple, est recouverte de germes qui seront détruits lors de la cuisson le plus souvent. Mais il ne faut surtout pas utiliser la même planche à découper ou le même couteau pour le poulet cru que pour les autres aliments, au risque de
                        tous les contaminer.</p>
                    <p>Filtrer l’huile et nettoyer régulièrement la friteuse. Éviter les surchauffes et renouveler le bain fréquemment. </p>
                    <p>Maintenir les surfaces (plans de travail...) propres et sèches entre deux usages. Désinfecter les surfaces régulièrement. Noter sur un petit cahier à chaque fois que vous avez nettoyé votre plan de travail. De même pour le réfrigérateur. Le torchon et le chiffon de cuisine doivent également être propres. Changez souvent ces derniers.</p>
                    <p>Nettoyer les plans de travail, les ustensiles et le matériel à chaque changement d’aliments notamment entre l’utilisation de produits crus tels que des fruits et légumes non lavés, des viandes, des poissons, des œufs et des produits cuits ou lavés. Ou utilisez des planches à découper et des ustensiles différents pour les produits cuits et crus afin d’éviter les contaminations croisées.</p>
                    <p>Laver les fruits et les légumes bruts à l’eau potable avant utilisation.</p>
                    <p>Ne jamais laver les œufs avant utilisation ; éviter que la coquille ne tombe dans les préparations ; se laver les mains après avoir manipulé les coquilles.</p>
                    <p>Ne jamais décongeler un produit à température ambiante : la décongélation se fait soit au réfrigérateur, soit par cuisson directe. Regarder les indications sur
                        l’emballage.</p>
                    <p>Cuire la viande hachée à cœur pour les enfants de moins de 15 ans. Une viande cuite à cœur ne doit pas être de couleur rosée visible lorsqu’on la coupe.</p>
                    <p>Utiliser une petite cuillère pour goûter les plats en cours de préparation. Ne pas utiliser ses doigts ; changer ou laver la cuillère entre chaque test.</p>
                    <p>Cuire les viandes de volaille à cœur. Il ne doit plus y avoir de viande rosée près des os, la viande doit se détacher facilement.</p>
                    <p>Attachez-vous les cheveux voir pour être sur vous pouvez porter une charlotte. Des cheveux dans le plat ce n’est jamais très appétissant!</p>
                    <p>En conservant les plats avant la remise au gourmet :</p>
                    <p>Ne pas mettre d'aliments chauds au frigo. La chaleur provoque de la condensation qui va augmenter la température à l'intérieur de votre réfrigérateur. La chaîne du froid est perturbée et les bactéries peuvent en profiter. Attendez donc que le plat refroidisse avant de le couvrir (avec un film de cellophane par exemple) et de le mettre dans votre frigo.</p>
                    <p>Cuisiner le plat dans un délai de 24h précédant la remise du plat au gourmet pour que les ingrédients restent frais ; éviter la congélation mais si on la pratique, il faut la faire par petites portions peu épaisses, conditionnées de façon étanche, le plus près de la fin de la préparation du produit et bien étiqueter le produit pour se rappeler sa nature et la date à laquelle on l’a congelé.</p>
                    <p>Attention, il ne faut pas congeler un produit qui est resté plusieurs jours dans son réfrigérateur.</p>
                    <p>Ne pas laisser refroidir plus de 2h à température ambiante les restes de plats chauds.</p>
                    <p>Au besoin, pour faciliter le refroidissement, répartir en petites quantités peu épaisses le plat à refroidir, si nécessaire dans plusieurs récipients.</p>
                    <p>Protéger les restes ou les produits entamés par des boîtes hermétiquement fermées ou par des films plastique ou aluminium.</p>
                    <p>Transvaser les restes de boîtes de conserves dans un autre récipient et les conserver au réfrigérateur dans des récipients fermés.</p>
                    <p>Ne jamais recongeler un produit qui a été décongele.́</p>
                    <p>Assurez-vous que l’emballage soit bien fermé avant la remise du plat Jeter les déchets aussi tôt, en les triant si possible.</p>
                    <p>Investir dans des poubelles qui ne s’ouvrent que par le bas (pour que vous puissiez les manipuler avec vos pieds et non vos mains).</p>
                    <p>De manière générale:</p>
                    <p>Ne pas laisser les animaux entrer dans la cuisine et s’assurer qu’il n y ait pas d’insectes ou d’oiseaux dans la cuisine. </p>
                    <p>En cas de livraison, veillez à ce que les conditions d’hygiène soient respectées (exemple: propreté de la voiture si la livraison se fait en voiture).</p>
                    <p>Vérifiez régulièrement dans votre armoire à provisions, réfrigérateur et autre que vous n’ayez pas oublié des aliments dont la date de péremption a été dépassée.</p>
                    <p>Ne pas fumer dans la cuisine.</p>
                    <p>Ne pas entreposer de plantes vertes dans la cuisine. </p>
                    <p>Éviter la présence en cuisine d’emballages poussiéreux (cagettes en bois, cartons, etc.).</p>
                    <p>Sources: http://temperatureideale.fr/temperature-ideale-refrigerateur-frigo-frigidaire#
                        http://alimentation.gouv.fr/cuisiner-maison , le centre de ressources pour les associations</p>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
