{%  extends 'GourmetBundle::layout.html.twig' %}

{% block foot_scripts %}
    {{ parent() }}

{%  endblock foot_scripts %}

{% block titre %}AVEKAPETI - Questions fréquentes{{ parent() }}{% endblock %}

{% block content %}
    <header class="header-inscription" id="header-error404">
        <div class="header-content header-content-transform">
            <div class="header-content-inner">
                <h1 class="h1-page">Questions fréquentes</h1>
            </div>
        </div>
    </header>

    <section id="page404">
        <div class="container">
            <div class="row">

                <h2>Quelles sont les conditions d’annulation et de remboursement?</h2>
                <p>Lorsqu’il y a annulation d’une commande finalisée, c’est-à-dire payée par le gourmet, les dispositions
                    suivantes sont appliquées :</p>

                <p>• En cas d’annulation imputable au Chef (suppression du plat sur le Site ou non remise du plat au
                    Gourmet imputable au Chef) :
                    Le Gourmet est remboursé intégralement de ce qu’il a versé pour la commande annulée. Le chef se
                    verra prélevé sur son porte-monnaie virtuel des frais d’annulation : 0.8% du montant de la commande
                    + 20cts.</p>
                <p>• En cas d’annulation imputable au Gourmet (annulation de la commande sur le Site ou non remise du
                    plat au Gourmet imputable au Gourmet) :</p>

                <h2>Les chefs professionnels sont-ils autorisés?</h2>
                <p>Oui ils sont les bienvenus, la mention « professionnel » apparait sur leur profil pour que les gourmets
                    puissent les identifier.</p>
                <h2>Comment puis je me plaindre d’un chef ou d’un gourmet qui ne respecte pas les valeurs
                    d’Avekapeti et/ou les chartes d’hygiène ?</h2>
                <p>Il vous suffit de nous signaler le profil en question en nous envoyant un mail à l’adresse suivante :
                    contact@avekapeti.com</p>
                <h2>Puis je supprimer ou remplacer un commentaire ?</h2>
                <p>Non mais vous pouvez nous signaler un commentaire qui ne respecterait pas les conditions
                    d’utilisation du site à l’adresse suivante : contact@avekapeti.com
                    De même si vous pensez qu’il porte atteinte à vos droits, nous allons y remédier dés que possible.
                </p><h2>Est-ce qu’Avekapeti est gratuit ?</h2>
                <p>L’inscription est totalement gratuite à la fois pour les chefs et les gourmets.
                    Cependant, Avekapeti prélève des frais de mise en relation : une commission de 12% sur les
                    transactions.
                    Celle-ci couvre les frais bancaires, les assurances, les frais de communication comme les envois de
                    SMS, les frais de gestion liés à l’activité du site internet et la rémunération d’une équipe dédiée à faire
                    en sorte que votre expérience sur Avekapeti soit un succès.</p>

                <h2>Quelles sont les normes d’hygiène à respecter ?</h2>
                <p>Les chefs amateurs sont tenus de respecter une charte d’hygiène très complète et précise, rédigée
                    par des experts. Vous pourrez la trouver en cliquant ici.</p>
                <h2>Est-ce légal?</h2>
                <p>Oui, le service est entièrement légal.
                    L’arrêté du 9 mai 1995, détaille les obligations des cuisiniers professionnels et s’applique à tout
                    établissement où des aliments sont remis directement au consommateur, à titre onéreux ou gratuit,
                    avec préparation préalable sur place ou non. Les chefs professionnels sont tenus de les respecter.
                    Cependant pour la restauration occasionnelle ou non sédentaire, des assouplissements sont prévus.
                    La charte d’hygiène regroupe l’ensemble des obligations des chefs amateurs.
                    De même, selon que l’activité soit occasionnelle ou régulière, les chefs n’ont pas les mêmes
                    obligations en terme de déclaration des revenus.</p>
                <h2>Comment fonctionne le paiement ?</h2>
                <p>Le paiement est effectué en ligne de manière totalement sécurisée auprès de notre prestataire
                    Lemonway.</p>
                <p>Pour les gourmets :
                    Le paiement doit avoir lieu au moment de la commande et avant la récupération du plat. Il est effectué
                    à l’aide de votre carte bancaire. Vous recevrez un code à donner au chef lors de votre rencontre. Si le
                    chef annule la commande vous serez intégralement remboursé.</p>
                <p>Pour les chefs :
                    Le paiement du gourmet est effectué en ligne avant la récupération du plat. En tant que tiers de
                    confiance, nous conservons le montant des frais de participation afin de permettre le règlement d’un
                    éventuel dysfonctionnement lors de la commande et pouvoir assurer les remboursements en cas
                    d’annulation.
                    Lors de votre rencontre, le gourmet vous donnera un code, pensez bien à le lui demander si ce
                    n’est pas le cas. Vous devrez ensuite le renseigner sur le site pour confirmer la commande. Votre
                    porte-monnaie virtuel sera alors automatiquement crédité du montant des frais de participation. A la
                    fin de la semaine, l’argent sera viré sur votre compte bancaire.</p>
                <h2>Comment mettre à jour mes informations personnelles (mail, numéro, adresse…) ?</h2>
                Imprimé écran
                <h2>J’ai des suggestions, idées pour améliorer le service, comment vous en faire part ?</h2>
                <p>Votre avis nous intéresse ! Vous avez une idée, un problème ou vous voulez tout simplement nous
                    parler ?</p>
                <p>Rendez-vous dans la rubrique « Feedback » prévue à cet effet en cliquant ici ou envoyez nous un
                    mail à contact@avekapeti.com. Nous lirons avec attention vos suggestions, réclamations et vous
                    répondrons dés que possible.</p>
                <h2>A quoi sert le blog d’Avekapeti?</h2>
                <p>Il s’agit d’un blog collaboratif de partage d’astuces et recettes de cuisine. Les chefs et même
                    gourmets peuvent nous envoyer les recettes qu’ils aimeraient partager avec la communauté à cette
                    adresse: contact@avekapeti.com.</p>
                <h2>Pas de recette en tête?</h2><p>Ce n’est pas grave, vous pouvez aller découvrir celles des autres chefs/
                    gourmets pour trouver l’inspiration. Ce blog est fait dans l’esprit de promouvoir la cuisine maison,
                    toutes les recettes et astuces sont les bienvenues.
                    Pour accéder au blog : <a href="http://avekapeti.fr">cliquer ici.</a>
                    Vous avez facebook? Nous avons également un groupe facebook de partage d’astuces et recettes de
                    cuisine : <a href="https://www.facebook.com/groups/1571790496405044/">cliquer ici</a></p>

                <h1>Je suis un chef:</h1>

                <h2>Comment m’inscrire?</h2>
                Imprimé écran

                <h2>Comment mettre une photo?</h2>
                Imprimé écran

                <h2>Comment changer ma photo de profil?</h2>
                Imprimé écran

                <h2>Quelle est la meilleure manière de me présenter sur ma fiche profil ?</h2>
                <p>Il est très important de mettre une photo de profil, pour que le gourmet puisse vous reconnaitre lors
                    de la remise du plat mais aussi et surtout parce-qu’un profil avec photo reçoit 5 fois plus de
                    commandes.</p>
                <p>Nous vous conseillons une photo de vous dans votre cuisine, avec le sourire.
                    Mettez également des photos ou même mieux une vidéo de votre cuisine dans l’espace « ma
                    cuisine », c’est trés important pour rassurer les gourmets sur les conditions dans lesquelles le plat a
                    été préparé.
                    Vous pouvez les prendre avec votre téléphone, si vous ne savez pas comment faire demandez de
                    l’aide à vos proches ou contactez nous, nous vous aiderons avec plaisir : contact@avekapeti.com</p>
                <p>Pour votre description et la description des plats, soyez synthétique, un petit texte sympathique
                    donnant envie de vous rencontrer et de gouter à vos plats suffira. Les gourmets ne lisent pas lorsque
                    le texte est trop long.</p>
                <h2>Quels plats proposer sur Avekapeti?</h2>
                <p>Vous pouvez proposer des parts de plats que vous comptez cuisiner ou que vous avez déjà cuisiné.
                    Exemple : je sais que demain je vais cuisiner une salade de pâtes pour le déjeuner pour ma famille,
                    je vais aujourd’hui proposer 3 parts de ma salade sur Avekapeti.</p>
                <p>Attention : Il est préférable que vous publiez vos plats la veille au plus tard, pour que le matin
                    lorsque les gourmets reçoivent le menu du jour, votre plat y figure. Egalement pour optimiser vos
                    chances d’avoir des commandes.</p>

                <p>Vous pouvez également mettre en ligne le(s) plat(s) que vous pouvez cuisiner sur commande, en
                    indiquant que la date de remise du plat sera « plus tard ».</p>

                <h2>Comment publier un plat?</h2>
                Imprimé écran

                <h2>Pas d’inspiration, envie d’une recette?</h2>
                <p>Consultez le blog d’Avekapeti pour découvrir les recettes de la communauté Avekapeti en cliquant ici.</p>
                <h2>Je fais comment si je n’ai pas de photo du plat?</h2>
                <p>Ca arrive, nous en sommes conscients. Essayez à partir de maintenant de prendre en photo tous les
                    plats que vous cuisinez pour votre famille et conservez les précieusement.
                    Vous n’avez pas d’appareil photo? Un téléphone portable prenant des photos suffit, vous pourrez les
                    mettre sur l’ordinateur grâce au câble que vous devez avoir quelque part… si si cherchez bien ;)
                    Si vous ne savez pas comment faire, ou comment les mettre sur l’ordinateur demandez à un de vos
                    proches de vous expliquer pour que vous sachiez le faire seul la prochaine fois.</p>

                <p>N’hésitez pas également à nous envoyer un message, nous
                    pouvons vous aider et répondre à vos questions techniques : contact@avekapeti.com
                    Un membre de notre équipe pourra même vous appeler et vous guider. Pour cela, il faut remplir ce
                    formulaire : <a href="êtrerappelé.html">cliquer ici.</a> (lien vers le formulaire)

                <h2>Comment faire quand on a aucune photo?</h2>
                <p>Vous pouvez prendre une photo sur internet qui est ressemblante à votre plat, mais faites bien
                    attention, elle doit être libre de droit. Pour ce faire, vous pouvez vous rendre sur le site suivant où
                    toutes les images sont gratuites et libres de droit :
                    https://pixabay.com (il suffit de taper le nom de votre plat sur la page de recherche)
                    Si vous ne trouvez pas votre bonheur, faites une recherche sur google image :
                    tapez le nom de votre plat sur la barre de recherche, cliquez sur « image », puis sur « outils de
                    recherche » , « droits d’usage » , « Réutilisation et modification autorisées » .</p>
                Imprimé écran

                <h2>Comment prendre une belle photo appétissante?</h2>
                <p>Il est très important que la photo du plat donne envie aux gourmets d’y gouter.
                    Pas de panique, le photographe professionnel Florent Aceto vous donne ses précieux conseils pour
                    de superbes photos : VIDEO </p>


                <h2>Qui détermine le prix du plat?</h2>
                <p>Vous choisissez le prix. Vous devez cependant respecter un prix maximum à ne pas dépasser, étant
                    donné qu’il s’agit d’une participation aux frais et non d’une rémunération.
                    Vous fixez votre prix : le montant que vous recevrez, si vous êtes professionnel vous devez y inclure
                    la TVA ; et un calcul automatique vous affichera le montant qui apparaitra aux yeux des
                    consommateurs (votre prix augmenté de la commission d’Avekapeti).
                    Exemple :
                    Une part de quiche lorraine :
                    - Prix du chef: 5€
                    - Commission TTC : 0.60 cts
                    - Prix affiché sur le site : 5.60 € </p>

                <h2>Puis-je modifier ou supprimer mon plat?</h2>

                <p>Si aucune commande n’a encore été réalisée, vous pouvez le modifier ou le supprimer librement.
                    Vous pouvez par exemple vous demander pourquoi votre plat n’a pas été commandé et le modifier en
                    conséquence : baisser le prix par exemple si il est élevé.
                    Si une commande au moins a déjà été réalisée, vous ne pourrez plus le modifier.
                    Vous pouvez cependant le supprimer (bouton « supprimer ce plat ») mais attention vous devrez
                    payer des frais d’annulation : 0.8% du montant payé par le(s) gourmet(s) + 20cts / part commandée.
                    Ces frais correspondent aux frais bancaires prélevés par Lemonway qui ne sont pas remboursables.

                <h2>Comment éviter les allergies des gourmets?</h2>
                <p>Pour prévenir toute allergie et respecter les préférences alimentaires de
                    chacun, faites attention à bien citer TOUS les ingrédients contenus dans
                    votre plat. Essayez d’être le plus précis possible.
                    Si votre plat contient de la viande et que plusieurs cuissons sont possibles pensez aussi à préciser la
                    votre.
                    Ainsi, les gourmets verront bien si il contient des ingrédients qu’ils ne
                    peuvent/veulent pas manger.

                    Si un gourmet a un doute sur un des ingrédients, il a le devoir de vous envoyer un message avant de
                    commander pour vérifier.
                    Regardez donc souvent votre boite mail. Si vous n’êtes pas réactifs, ils
                    pourraient commander chez un autre chef.
                    Attention certains ingrédients sont susceptibles de provoquer des allergies (ne pas oublier de les mentionner) :
                    • Les céréales contenant du gluten : blé, épeautre, seigle, orge, avoine
                    • Crustacés et mollusques
                    • Poissons
                    • Oeufs
                    • Céleri
                    • Soja
                    • Lait/lactose
                    • Amandes, noisettes, cacahuètes, pistaches, noix, noix de cajou, noix de pécan, noix du Brésil, de
                    Macadamia ou du Queensland
                    • Graines de sésame
                    • Moutarde
                    • Anhydride sulfureux et sulfites en concentration de plus de 10mg/kg ou 10 mg/l
                    • Lupin »
                    Evitez aussi de manière générale les plats à risque comme un poisson avec beaucoup d’arrêtes. </p>

                <h2>Dans quel emballage dois-je livrer mes plats?</h2>
                <p>Dans des barquettes en aluminium, que vous trouverez au supermarché.
                    Un exemple ci-dessous: PHOTO

                    Attention, veillez bien à ce qu’il soit indiqué sur la barquette qu’elle va
                    au micro-onde.</p>

                <h2>Dois-je fournir des assiettes en carton?</h2>
                <p>Non ce n’est pas nécessaire, les gourmets mangeront directement dans
                    la barquette.</p>

                <h2>Dois-je fournir des couverts en plastique?</h2>
                <p>Nous tentons de négocier avec les comités d’entreprises où travaillent les gourmets la fourniture de
                    couverts réutilisables pour que vous n’ayez pas à acheter des couverts en plastique, dont leur usage
                    est très néfaste pour l’environnement.

                    Vous verrez sur le profil de chaque gourmet est inscrit si l’entreprise lui fourni des couverts ou non. Si
                    ce n’est pas le cas prévoyez avec vos plats un couteau, une fourchette et une cuillère en plastique si
                    nécessaire, mais nous faisons tout ce que nous pouvons pour éviter cette possibilité.
                    N’oubliez pas les serviettes en papier! </p>

                <h2>Comment se déroule la remise du plat?</h2>
                <p>Vous avez le choix : vous pouvez choisir l’option « livraison » ou l’option « retrait chez le chef ».
                    Pour mettre un maximum de chances de votre coté, nous vous conseillons de proposer la livraison
                    qui est l’option préférée des gourmets ; sachant qu’elle est possible à pied, étant donné que tous les
                    gourmets qui vous passent commande sont des salariés d’entreprises situées dans votre quartier.
                    Vous choisissez l’horaire auquel vous voulez livrer. Nous vous conseillons 12h30, l’heure à laquelle
                    les gourmets prennent leur pause déjeuner en général.
                    Si vous ne pouvez vraiment pas livrer, vous pouvez aussi choisir l’option retrait chez le chef : les
                    gourmets viendront récupérer le plat chez vous. Vous devrez leur donner une plage horaire durant
                    laquelle vous êtes disponible pour les recevoir.
                    Dans tous les cas, dés qu’un gourmet aura commandé, vous recevrez son numéro de téléphone et
                    pourrez convenir directement avec lui des détails de votre rencontre. </p>

                <h2>Je n’ai reçu qu’une seule commande, me conseillez-vous d’aller quand même livrer?</h2
                <p>Nous vous conseillons d’accepter de livrer le plat même lorsque vous ne recevez qu’une seule
                    commande.
                    Qui sait le gourmet aimera peut-être tellement qu’il voudra faire goûter à ses amis et une part se
                    transformera en 4 la prochaine fois. Ne sous-estimez jamais le pouvoir du bouche à oreille ;)</p>

                <h2>Où renseigner le code de réservation?</h2>
                Imprimé écran

                <h2>J’ai reçu des frais de participation pour un plat, comment puis-je les virer sur mon compte ? </h2>
                Imprimé écran

                <p>Attention: pour pouvoir transférer de l’argent sur votre compte bancaire il faut au préalable que vous
                    renseigniez vos coordonnées bancaires dans votre espace personnel.</p>

                <h2>J’ai reçu un virement de la part de « Lemonway » pourquoi?</h2>

                <p>Lemon way est notre prestataire pour un paiement en ligne sécurisé. Les virements que nous vous
                    envoyons apparaissent comme provenant de Lemon way, c’est tout à fait normal.</p>

                <h2>Que dit la loi sur mon activité de chef amateur?</h2>
                <p>Vous êtes particulier et proposez vos plats ou pâtisseries occasionnellement. Le but de votre
                    démarche est de tester le service, éviter le gaspillage alimentaire, partager les frais d’entretien de
                    votre cuisine, faire goûter vos créations, ou vous faire connaître.
                    Il n’y a actuellement pas de réglementation sur la cuisine de particulier à particulier. Le gourmet est
                    conscient qu’il ne fait pas appel à un professionnel et qu’il ne peut exiger les mêmes garanties.
                    Attention cependant, en cas de volume important, vous pouvez être reconsidéré professionnel. La loi
                    en vigueur ne définit pas de volume limite, ce reclassement est soumis à interprétation.
                    Envie de proposer vos plats plus régulièrement : de devenir professionnel?
                    Contactez-nous à l’adresse suivante: contact@avekapeti.com, nous vous orienterons vers des
                    partenaires qui pourront vous aider et vous accompagner gratuitement dans toutes vos démarches.</p>

                <h2>Vous voulez rencontrer des voisins ayant la même passion que vous?</h2>

                <p>Allez sur la page d’accueil en cliquant sur le logo d’Avekapeti en haut à gauche. Renseignez votre
                    adresse dans la barre de recherche où il est écrit « où êtes-vous? ». Il suffit ensuite de cliquer sur les
                    différents plats pour découvrir leurs auteurs.
                    Si un chef vous semble sympathique faites lui un petit coucou : « envoyer un message privé » ou
                    « envoyer un brownie » si vous ne savez pas quoi lui dire.
                    Vous pourrez même cuisiner ensemble, partager vos astuces culinaires, vos recettes, vous relayer
                    pour la livraison, peut-être même vous faire un nouvel ami !
                    Avekapeti est avant tout un lieu de partage et un moyen de créer du lien avec ses voisins. C’est
                    toujours sympa de connaitre ses voisins vous trouvez pas? Surtout si vous partagez la même passion
                    pour la cuisine, le feeling passera plus facilement ;) </p>

                <h2>Qu’est-ce qu’un brownie?</h2>
                <p>Si vous voulez faire connaissance avec un autre chef ou même un gourmet mais que vous ne savez
                    pas quoi lui dire, vous pouvez lui envoyer un brownie. Le chef ou gourmet en question saura que
                    vous voulez entrer en contact avec lui et pourra vous envoyer un brownie en retour ou un message.
                    N’oublions pas qu’Avekapeti est aussi un réseau social culinaire, permettant de se réunir et de
                    partager autour de la cuisine.</p>

                <h2>Comment revenir à la page d’accueil?</h2>

                Imprimé écran

                <h2>Vous n’avez pas trouvé de réponse à votre question?</h2>
                <p> Envoyez nous un mail : contact@avekapeti.com nous vous répondrons le plus rapidement
                    possible.
                    Lorsque nous sommes connectés vous pouvez aussi discuter avec nous par messagerie instantanée
                    pour une réponse immédiate : la petite fenêtre en bas à droite « Questions? Discutez avec nous »
                    Un membre de notre équipe peut aussi vous appeler. Pour cela, il suffit de remplir ce
                    formulaire : <a href="êtrerappelé.html">cliquer ici.</a> (lien vers le formulaire) </p>

                <h1>Je suis un gourmet:</h1>

                <h2>Est-ce que je peux commander un plat prés de mon domicile? </h2>
                <p>Les livraisons se font en entreprise seulement. Si vous voulez manger un petit plat maison entre
                    amis/famille vous pouvez le récupérer à la sortie du travail et l’emmener chez vous. Très pratique
                    lorsque vous n’avez pas le temps et/ou la motivation de cuisiner en rentrant du travail.</p>

                <h2>Pourquoi renseigner mon numéro?</h2>
                <p>Pour que nous puissions ensuite le transmettre aux chefs auxquels vous avez commandé un plat
                    maison. Ce sera plus pratique pour organiser la rencontre.</p>

                <h2>Qui verra mon numéro de téléphone ?</h2>
                <p>Seuls les chefs d’Avekapeti auprès desquels vous avez passé commande y auront accès. Votre
                    numéro ne sera jamais utilisé à des fins commerciales. Ce serait à l’encontre de nos valeurs.</p>

                <h2>Quelle adresse mail renseigner : professionnelle ou personnelle? Est-ce que je recevrai des
                    spams?</h2>
                <p>Si vous n’utilisez pas souvent votre adresse personnelle au travail, mieux vaut donner la
                    professionnelle.
                    Ne vous inquiétez pas promis nous ne vous harcèlerons pas, ce n’est pas dans la politique de la
                    maison!</p>
                <p>Les seuls mails que vous recevrez de notre part seront :
                    - Les confirmations de vos commandes avec les cordonnées des chefs
                    - Une notification lorsque vous avez reçu un message privé ou un avis de la part d’un chef
                    - Si vous acceptez la newsletter: les menus du jour chaque matin ce qui vous permettra de gagner
                    du temps. Si un des plats maison proposés vous plait il suffit de cliquer dessus pour le commander
                    pour votre déjeuner ou diner. Un lien vous permettra d’accéder directement au plat de votre choix.
                    Si aucun plat ne vous donne envie, demain sera peut-être un jour meilleur ;) </p>

                <h2>Comment faire si j’ai des allergies/préférences alimentaires?</h2>
                <p>Pour prévenir toute allergie et respecter les préférences alimentaires de
                    chacun, les chefs s’engagent à citer tous les ingrédients contenus dans
                    leur plat (cliquer sur « en savoir plus » dans la page de description du plat).
                    Lisez les bien et faites attention à ce qu’ils respectent votre régime
                    alimentaire. </p>
                <p>Un doute sur un ingrédient? Envoyez un message au chef avant de
                    commander pour lui demander des précisions.</p>

                <h2>Le chef n’a aucun avis reçu? Vous ne savez pas si vous pouvez lui faire confiance?</h2>
                <p>C’est embêtant non? Pensez aux autres personnes qui se retrouvent dans la même situation que
                    vous et n’hésitez pas lorsque vous découvrez un nouveau chef à donner votre avis après avoir goûter
                    un bon (ou mauvais) plat maison.
                    Soyez objectif et sincère. Pensez également au chef qui a pris du temps à le cuisiner et aimerait avoir
                    un retour. </p>

                <h2>Ce plat me semble appétissant mais l’heure de livraison ne me convient pas</h2>
                <p>Dans ce cas, n’hésitez pas à envoyer un message privé au chef pour en discuter avec lui, il y a
                    toujours une solution. Souvenez vous en plus que tous les chefs vivent prés de votre établissement
                    donc même si le chef propose d’assurer la livraison vous pouvez toujours aller chercher votre repas :
                    ça vous fera prendre l’air et vous pourrez manger à l’heure qui vous arrange (après avoir vu ça avec
                    lui bien sur).</p>

                <h2>Le chef doit-il respecter l’heure de livraison affichée sur son profil?</h2>
                <p>L’heure de livraison affichée est à titre indicatif : le chef confirmera l’heure exacte par sms ensuite car
                    si il doit livrer des gourmets situés à des endroits différents il ne pourra pas être partout au même
                    moment.
                    Cependant l’heure exacte doit être proche de celle affichée, si elle s’en éloigne trop ou si le chef ne
                    respecte pas l’heure indiquée par sms, vous pouvez nous signaler un litige et lui laisser une mauvaise
                    évaluation.</p>

                <h2>Les chefs utilisent-ils du surgelé?</h2>
                <p>Non, les chefs s’engagent à cuisiner leurs plats uniquement à base de produits frais.</p>

                <h2>Les paiements sont-ils sécurisés?</h2>
                <p>Les paiements sont totalement sécurisés grâce à notre prestataire Lemon way qui investit lourdement
                    depuis 2007 dans la sécurité, la lutte contre la fraude et le blanchiment. Les transactions sont
                    sécurisées de bout en bout, vous pourrez le vérifier avec l’utilisation du protocole https et l’utilisation
                    de la 3D Secure lors du premier paiement.</p>

                <h2>Est-ce que je peux payer avec un ticket ou carte restaurant?</h2>
                <p>Malheureusement non, les chefs ne peuvent pas les accepter.
                    Mais vous pourrez toujours les utiliser pour faire vos courses : vous avez le droit à une valeur
                    maximale de 19€ par passage en caisse (soit deux tickets restaurants de 9€50 par exemple). Sachez
                    également qu’ils sont valables un an + 2 mois.
                    Plus d’informations sur : http://www.net-iris.fr/veille-juridique/actualite/32795/nouvelles-conditionsutilisation-
                    des-titres-restaurant.php
                    Ils sont acceptés par les pâtisseries, boulangeries, charcuteries, traiteurs et grandes surfaces agrées
                    et permettent d’acheter des préparations immédiatement consommables :
                    - Plats cuisinés frais, sous vide, surgelés ou en conserve, quiches, tartes...
                    - Sandwiches, salades préparées, potages, chips...
                    - Fruits et légumes, salades de fruits, compotes, fruits au sirop...
                    - Yaourts, fromages blancs, glaces individuelles, biscuits...
                    - Boissons sucrées, sodas, jus de fruits, eaux.</p>
                <p>Pas convaincu? Vous pouvez toujours récupérer vos plats à la sortie du travail pour un bon diner fait
                    maison seul, en famille ou entre amis.</p>

                <h2>Que se passe-t-il si le plat que je mange n’est pas bon ?</h2>
                <p>N’hésitez pas à aller mettre une évaluation négative au chef pour en avertir les autres gourmets. Une
                    critique est toujours mieux si elle est constructive, pourquoi ce n’était pas bon? Trop salé? Trop fade?
                    Trop pimenté?
                    De même si le chef vous a semblé désagréable, qu’il était en retard ou autre.
                    Lorsque les chefs reçoivent une majorité d’avis négatifs, nous les excluons du site pour maintenir une
                    communauté de confiance. Merci de nous aider à identifier les membres qui ne respectent pas les
                    valeurs d’Avekapeti.
                    A l’inverse, si il est bon une évaluation positive fera très plaisir au chef et l’encouragera à vous en
                    laisser une en retour.
                    Les plats sont-ils livrés chauds?
                    Oui, les chefs s’engagent à vous le remettre chaud. Si ce n’est pas le cas, vous pourrez leur laisser
                    un avis négatif.</p>

                <h2>J’ai un imprévu, je dois manger plus tard, comment faire?</h2>
                <p>Pas de soucis, retirez quand même le plat à l’heure convenue avec le chef. Vous pourrez le manger
                    plus tard, les barquettes conservent la chaleur.
                    Si jamais, vous tardez plusieurs heures et que le plat n’est plus chaud, vous pouvez mettre la
                    barquette au micro-onde.</p>

                <h2>Les barquettes en aluminium vont-elles au micro-onde?</h2>
                <p>Une idée préconçue consiste à dire que l’aluminium ne va pas au micro-onde mais rassurez-vous,
                    elles sont même prévues à cet effet, vous pouvez le vérifier sur la barquette : une inscription l’indique.
                    Il s’agit même de l’emballage que les traiteurs utilisent.
                    Par ailleurs, une étude conduite par l’Association européenne de la Feuille d’Aluminium (AEFA/EAFA)
                    démontre que les barquettes d’aluminium conviennent tout à fait à la cuisine en micro-ondes quand
                    les consignes suivantes sont suivies :
                    Nous avons choisit l’aluminium pour des raisons écologiques, nous voulions éviter le plastique à tout
                    prix.</p>

                <h2>Le chef fournit-il les couverts?</h2>
                <p>Nous essayons d’éviter cela, les couverts en plastique étant très néfastes pour l’environnement.
                    Nous négocions donc avec vos comités d’entreprise pour qu’ils vous fournissent des couverts
                    réutilisables. Vous devez indiquer sur votre profil si c’est le cas ou non.
                    Si vous êtes un habitué d’Avekapeti et que votre entreprise ne fournit pas les couverts, il serait
                    préférable d’un point de vue écologique, que vous laissiez une fourchette un couteau et une cuillère
                    au bureau.</p>
                <p>Si ce n’est pas possible, indiquez le sur votre profil le chef vous fournira des couverts en plastique.
                    Un champ est prévu à cet effet : « mon entreprise ou moi-même fournissons les couverts » , vous
                    devrez cocher la case « oui » ou « non ».</p>

                <h2>Je ne mangerai le plat que demain ou je n’en ai mangé qu’une partie et il m’en reste, comment
                    le conserver?</h2>
                <p>Vous pouvez garder votre plat ou ce qu’il en reste pendant 2 jours (48 heures après sa préparation) à
                    maximum 7 °C et 3 jours (72 heures après sa préparation) à maximum 4°C.
                    Refroidissez le plat chaud dans un délai de 5 heures jusqu’à 7°C ou moins. Pour ce faire, refroidissez
                    d’abord le plat jusqu’à environ 5 °C au-dessus de la température ambiante et mettez le au
                    réfrigérateur pour poursuivre la réfrigération.
                    Couvrez bien le plat lorsque vous le placez dans le réfrigérateur.</p>            </div>
        </div>
    </section>

{% endblock content %}
