<!DOCTYPE html>
<html>
<head>
    {%  include ':Partials:meta.html.twig' only %}
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/gourmet/favicon.ico') }}" />

    <title>{% block titre %} | Avekapeti{% endblock %}</title>
    {% block stylesheets %}
        {%  include ':Partials:link.html.twig' only %}
    {% endblock stylesheets %}
</head>

<body>
    {% block body %}{% endblock %}
    {% block foot_scripts %}
        {%  include ':Partials:script.html.twig' only %}
    {% endblock %}
</body>
</html>
