{% extends "::base.html.twig" %}

{% block title %}GourmetBundle:Panier:index{% endblock %}

{% block body %}
<h1>Welcome to the Panier:index page</h1>
    {% if panier %}
    {{ dump(panier) }}
    {% else %}
        Votre panier est vide

    {% endif %}
    <a href={{ path('panier_plat_ajout',{idPlat:'1'}) }}>ajout</a>
    <a href={{ path('panier_reset') }}>reset</a>
    <a href={{ path('panier_plat_suppr',{idPlat:'1'}) }}>supprimer</a>
{% endblock %}
