{%  extends  "@GourmetBundle/Resources/views/layout.html.twig" %}

{% block foot_scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/gourmet/js/home.js') }}"></script>
{%  endblock foot_scripts %}

{% block content %}
    <header class="header-gourmet ">
        <div class="header-opacity"></div>
        <div class="header-content">
            <div class="row">

                <div class="col-sm-4 col-sm-offset-1" >
                    <div class="login-panel panel panel-default panel-perso">
                        <div class="panel-body">
                            <form role="form">
                                <div class=" panel-heading-perso ">
                                    <a href="#" class="btn btn-primary btn-xl btn-facebook-inscription"><i class="fa fa-2x fa-facebook logo-facebook"></i>Inscription avec Facebook</a>
                                </div>
                                <p class="ou">ou</p>
                                <hr class="margin-hr">
                                <fieldset>
                                    <div class="form-group has-feedback">
                                        <input type="text" class="form-control form-control-perso" placeholder="Nom" id="nom-gourmet" required data-validation-required-message="Veuillez entrer votre nom." autofocus>
                                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="text" class="form-control form-control-perso" placeholder="Prénom" id="prenom-gourmet" required data-validation-required-message="Veuillez entrer votre prénom.">
                                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="email" class="form-control form-control-perso" placeholder="Adresse e-mail : nom@exemple.com" id="email-gourmet" required data-validation-required-message="Veuillez entrer votre email.">
                                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="tel" class="form-control form-control-perso" placeholder="Téléphone" id="telephone-gourmet" required data-validation-required-message="Veuillez entrer votre numéro de téléphone.">
                                        <span class="glyphicon glyphicon-earphone form-control-feedback"></span>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="password" class="form-control form-control-perso" placeholder="Mot de passe" id="password-gourmet" required data-validation-required-message="Veuillez entrer votre numéro de téléphone.">
                                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="checkbox remember">
                                        <label>
                                            <input name="remember"  type="checkbox" value="Remember Me">Je souhaite recevoir la newsletter Avekapeti
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-xl btn-valider-inscription">Créer un compte</button>
                                    <div class="form-group">
                                        <p class="acceptation">En cliquant sur Créer un compte, vous acceptez les <a href="#">Conditions générales</a>  et la <a href="#">Politique de confidentialité</a> d'Avekapeti.</p>
                                    </div>
                                    <hr>
                                    <p class="acceptation">Déjà membre Avekapeti ? <a href={{ path('gourmet_loginpage') }} >Connexion</a></p>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5 col-sm-offset-1">
                    <div class="bloc-titre-inscription">
                        <h1 class="h1-page">Créez votre compte et commandez votre plat en quelques minutes</h1>
                        <br>
                        <p>Bientôt vous pourrez commander en quelques clics un plat fait maison sur Avekapeti. Préparez-vous une révolution arrive !</p>
                    </div>
                </div>

            </div>
        </div>
    </header>
{% endblock content %}

{% block footer %}
{% endblock footer %}