{%  extends  "@GourmetBundle/Resources/views/layout.html.twig" %}

{% block titre %}Contact{{  parent() }}{% endblock %}

{% block content %}
    <header class="header-inscription" id="page-contact">
        <div class="header-content header-content-transform ">
            <div class="col-md-8 col-md-offset-2 text-center" >
                <div class="bloc-titre-inscription">
                    <h1 class="h1-page">Vous avez des questions ?</h1>
                    <hr class="light">
                    <p>Nous sommes à votre service, si vous avez la moindre question n’hésitez pas à nous contacter en renseignant le formulaire ci-dessous. Vous ne pouvez pas attendre? Vous avez besoin d’une réponse urgente? Pas de soucis! Nous nous ferons une joie d’y répondre : une petite fenêtre en bas à droite « Questions? Discutez avec nous » vous permet de nous poser toutes vos questions. Nous ferons tout notre possible pour y répondre sur le champ.</p>
                </div>
                {{  include  ('GourmetBundle:Main:form-contact-feedback.html.twig')  }}
            </div>
        </div>
    </header>
{% endblock content %}

{% block footer %}
    {{ parent() }}
{% endblock footer %}