{%  extends  "@GourmetBundle/Resources/views/layout.html.twig" %}

{% block titre %}Feedback{{ parent() }}{% endblock %}

{% block content %}
    <header class="header-inscription" id="page-feedback">
        <div class="header-content header-content-transform ">
            <div class="col-md-8 col-md-offset-2 text-center" >
                <div class="bloc-titre-inscription">
                    <h1 class="h1-page">Vous avez des suggestions ?</h1>
                    <hr class="light">
                    <p>Avez-vous rencontré un problème lors de votre navigation sur Avekapeti? Un beug? Une incohérence?

                        Quelque chose n’est pas clair?

                        Avez-vous des suggestions à nous faire pour une meilleure expérience sur Avekapeti?

                        Nous sommes ouverts à toute proposition et sommes impatients de découvrir vos suggestions. Pour ce faire, veuillez remplir le formulaire ci-dessous.

                        Formulaire simple avec un minimum d’informations à remplir, juste leur message et adresse mail</p>

                </div>
                {{  include  ('GourmetBundle:Main:form-contact-feedback.html.twig')  }}
            </div>
        </div>
    </header>
{% endblock content %}

{% block footer %}
    {{ parent() }}
{% endblock footer %}