{%  extends  "@GourmetBundle/Resources/views/layout.html.twig" %}

{% block titre %}Feedback{{ parent() }}{% endblock %}

{% block content %}
    <header class="header-inscription" id="page-contact">
        <div class="header-content header-content-transform ">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center" >
                    <div class="bloc-titre-inscription">
                        <h1 class="h1-page">Vous avez des suggestions ?</h1>
                        <hr class="light">
                        <p>Aidez-nous à améliorer la révolution culinaire ! Vous avez des idées pour améliorer l'expérience utilisateur ? Des fonctionnalités manquent ? N'hésitez pas à nous faire part de vos propositions</p>

                    </div>
                    {{  include  ('@GourmetBundle/Resources/views/main/form-contact-feedback.html.twig')  }}
                </div>
            </div>
        </div>
    </header>
{% endblock content %}

{% block footer %}
{% endblock footer %}